*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: auto !important;
}


body{
    background-image: linear-gradient(black, rgb(0, 0, 255), aqua);


}

.divisoria-laranja{
    background-color: #FC6335;
    width: 85%;
    border-radius: 0px 15px 15px 0px;
    margin-top: 30px;
}
.divisoria-laranja p{
    margin-left: 30px;
    font-size: 32px;
    font-family: inter, bold;
}

.header{
    min-height: 100vh;
    width: 100%;
    text-align: center;

}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: inter;
    background: #0c0c704f;
    height: 8vh;
    z-index:4;
  }
  .nav-list{
    display: flex;
    
    text-align: right;
}
.nav-list li{
    list-style: none;
    
    padding: 8px 12px;
}
.nav-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

}
.nav-list li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FC6335;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-list  li:hover::after{
    width: 100%;
    
}
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  .foguete{
    width: 100px;
  }
.caixa-de-texto{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.caixa-de-texto h1{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: #fff;

}

.primeiro-botao{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 12px 34px;
    font-size: 20px;
    position: relative;
    background-color: #FC6335;
    border-radius: 50px;
    cursor: pointer;

}
.primeiro-botao:hover{
    box-shadow: 2px 2px #ffffff81;
    transition: .5s;
}

/*---Segunda Pagina---*/

#pagina2{
    width: 100%;
    
    text-align: left;
    padding-top: 100px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 80px;
    color: #fff;
}

p{
    font-size: 15px;
    color: #fff;
}

.vantagens{
    /* border: solid 2px #fff;  */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vantagens > div{
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px;
    margin-left: 100px;
}
.vantagens > div > p{
    padding: 15px;
}
.botao-vantagens{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 12px 34px;
    font-size: 20px;
    position: relative;
    background-color: #FC6335;
    border-radius: 50px;
    cursor: pointer;
    
}
.botao-vantagens:hover{
    box-shadow: 2px 2px #ffffff81;
    transition: .5s;
}
.imagem{
    /* border: solid 2px #fff; */
    width: 30%;
    justify-content: center;
    align-items: end;
    background-color: #FC6335;
    border-radius: 30px;
}

#sobre{
    margin-top: 100px;
    height: 100vh;
}
