*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}



body{
    background-image: linear-gradient(black, rgb(0, 0, 255), aqua);


}

.header{
    min-height: 100vh;
    width: 100%;
    text-align: center;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FC6335;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
    
}

.fa-solid{
    display: none;

}
.caixa-de-texto{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.caixa-de-texto h1{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: #fff;

}

.primeiro-botao{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 12px 34px;
    font-size: 20px;
    position: relative;
    background-color: #FC6335;
    border-radius: 50px;
    cursor: pointer;

}
.primeiro-botao:hover{
    box-shadow: 2px 2px #ffffff81;
    transition: .5s;
}

/*---Segunda Pagina---*/

#pagina2{
    width: 100%;
    text-align: left;
    padding-top: 100px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: #fff;
}

p{
    font-size: 15px;
    color: #fff;
}

.vantagens{
    /* border: solid 2px #fff; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vantagens > div{
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px;
}
.vantagens > div > p{
    padding: 15px;
}
.botao-vantagens{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 12px 34px;
    font-size: 20px;
    position: relative;
    background-color: #FC6335;
    border-radius: 50px;
    cursor: pointer;

}
.botao-vantagens:hover{
    box-shadow: 2px 2px #ffffff81;
    transition: .5s;
}
.imagem{
    border: solid 2px #fff;
    width: 500px;
    justify-content: center;
    background-color: #FC6335;
    border-radius: 30px;
}
