@media(max-width: 700px){
    .nav-links{
        position: absolute;
        background-color: rgba(28, 15, 112, 0.934);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;

    }
    .nav-links ul li{
        display: block;

    }
    .fa-solid{
        display: block;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .fa-solid fa-bars{
        
    }
}