@media (max-width: 700px){
    footer{
    height: 1200px;
    justify-content: space-between;
    align-items: center; 

    }
    
    
    #contato{
        width: 270px;
        height: 450px;
        display: flex;
        margin-left: 50px;
        
    }
    
    #contato p{
        font-size: medium;
    }
    

    .perguntas-frequentes{
        width: 270px;
        height: 450px;
    }
    
    .perguntas-frequentes p{
        font-size: medium;
    }
    
    form{
        margin: 8px;
        height: 350px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        margin-bottom: 50px;
    
    }
    
    .campo-form{
        width: 100%;
        size: ;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 5px;
        align-items: left;
    }
    
    .botao-enviar{
        margin: 8px;
        border-radius: 20px;
        height: 35px;
        width: 90px;
    
    }
    
    .frequente{
        margin: 10px;
        height: 400px;
        width: 280px;

    }
    .campo-freq{
        margin: 10px;
        border-radius: 5px;
    }


}